{% extends "layout.html" %}

{% block content %}

{% include "menu.html" %}

{{ menu('announcements') }}

	<div class="row">
		<div class="col-md-12 page-header"><h1>
			<div class="btn-group pull-right" role="group">
				<input type="submit" value="New" class="btn btn-primary" id="newAnnouncement">
			</div>
			Announcements <small>View and send out messages to all your participants.</small></h1>
		</div>
		
	</div>
	<div class="row">
		<div class="col-md-4">			
			<span id="noAnnouce"></span>
			<div class="list-group" id="annouceContainer"></div>
		</div>
		<div class="col-md-8" id="announceArea">
		</div>
	</div>

<script>

	var viewingAnnouncementIndex;



	sortAnnouncements = function(elts){
		pinnedAnnouncements = []
		pinnedAnnouncements = _.filter(elts, function(elt){
			return (elt.pinned)
		});
		announcements = []
		announcements = _.filter(elts, function(elt){
			return (!elt.pinned)
		});
		getAnnouncements();
	}

	getAnnouncements = function(){
		var total = announcements.length+pinnedAnnouncements.length
		if (announcements.length === 0 && pinnedAnnouncements.length === 0){
			$('#annouceContainer').empty();
			$('#noAnnouce').html("<p>You have no announcements</p>")
		}
		else{
			$('#noAnnouce').empty();
			$('#annouceContainer').empty();
			for (var i=0; i<(total); i++){
				var a,
					$div = $('#annouceContainer'),
					$container = $('<a>').attr('href','#'),
					$out_t = $('<div>'),
					$out_body = $('<div>'),
					$inside1 = $('<div>'),
					$inside2 = $('<div>'),
					$body = $('<div>'),
					body = $('<p>'),
					lines,
					lin,
					counter = 0,
					pinned = false,
					index = 0,
					$pin = $('<span>').addClass('glyphicon glyphicon-pushpin'),
					$wrapperHeading = $('<h4>').addClass("list-group-item-heading"),
					$wrapperBody = $('<div>').addClass('list-group-item-body');


				if (i >= pinnedAnnouncements.length){
					index = i-pinnedAnnouncements.length
					a = announcements[index]
				}
				else{
					a = pinnedAnnouncements[i];
					pinned = true;
				}

				$container.attr('id','' +i);
				$container.addClass('list-group-item');
				$out_t.addClass('row');
				$inside1.addClass('col-md-9');
				$inside2.addClass('col-md-3');

				$inside2.append($('<h4>').addClass("list-group-item-heading pull-right").html(a.time));

				if (!pinned){
					$inside1.append($wrapperHeading.html("<strong>"+a.subject+"</strong>"));
				}
				else{
					$pin.css('float','right')
					$pin.css('color','blue')
					$inside1.append($wrapperHeading.html("<strong>"+a.subject+"</strong>").append($pin));
				}

				

				$out_body.addClass('row').addClass("list-group-item-text");
				$body.addClass('col-md-12');

				lines = a.body.split("\n");
				for (var j=0; j<lines.length; j++){
					var par = $('<p>');
					lin = lines[j]
					if (lin && counter < 2){
						counter++;
						$body.append(par.text(lin))
					}					
				}
				$body.append(body);
				$out_body.append($body);
				$container.css("height","93px")
				$container.css("overflow","hidden")

				$out_t.append($inside1).append($inside2);
				$div.append($container.append($out_t).append($wrapperBody.append($out_body))); 
				$container.on("click",function(e){
					var x = e.pageX,
						y = e.pageY,
						index = parseInt($(this).attr('id')),
						$div = $('#annouceContainer');

					$div.find('.active').removeClass('active')
					$(this).addClass('active');
					viewingAnnouncementIndex = index
					if (index >= pinnedAnnouncements.length){
						displayAnnouncement(announcements[index-pinnedAnnouncements.length])
					}
					else{
						displayAnnouncement(pinnedAnnouncements[index]);	
					}
					
				});

			}
		}
	}


	function makeAnnouncement(subject, body, time, pinned){
		createAnnouncement(subject,body,time, pinned);
		return {"subject":subject, "body":body, "time":time, "pinned":pinned}
	}

	makeAddNewAnnouncement = function(err){
		var $area = $('#announceArea'),
			$subject = getNewSubject(),
			$body = getNewBody(),
			$button = getNewButton(),
			$check = getCheckbox(),
			$error;

		$area.empty();
		if(err){
			$error = getError(err);
			$area.append($error);
			if (err.subject){
				$subject = getNewSubject(err.subject)
			}
			if (err.body){
				$body = getNewBody(err.body)
			}
		}
		$area.append($subject).append($body).append($check).append($button);
		$('#addAnnouncement').click(function(){
			var $area = $('#announceArea'),
				$pinned = $('#pinCheckbox'),
				subject = $('#addAnnounceSub').val(),
				body = $('#addAnnounceBody').val(),
				d = new Date(),
				month = d.getMonth()+1,
				day = d.getDate(),
				year = ""+d.getFullYear(),
				time = ""+month+"/"+day+"/"+year.slice(2,4),
				announcement,
				err;

			if(!subject || !body){
				err = {"subject":subject,"body":body}
				makeAddNewAnnouncement(err);
				return
			}

			if ($pinned.is(':checked')){
				announcement = makeAnnouncement(subject,body,time,true);
				pinnedAnnouncements.unshift(announcement);
			}
			else{
				announcement  = makeAnnouncement(subject,body,time,false);
				announcements.unshift(announcement);
			}

			
			getAnnouncements();
			makeAddNewAnnouncement();
		});

	}

	getNewSubject = function(text){
		var $row = $('<div>'),
			$col = $('<div>'),
			$wrapper = $('<div>').addClass('input-group	'),
			$input = $('<input>');

		$row.addClass('row');
		$row.css('margin-top','5px');
		$col.addClass('col-md-12');
		$input.attr('id', 'addAnnounceSub');
		$input.attr('type','text');
		$input.attr('size','22%');
		$input.attr('placeholder','Subject');

		if(text){
			$input.val(text);
		}

		return $row.append($col.append($input));
	}

	getNewBody = function(text){
		var $row = $('<div>'),
			$col = $('<div>'),
			$input = $('<textarea>');	
			
		$row.addClass('row');
		$row.css('margin-top','5px');
		$col.addClass('col-md-12');

		$input.attr('id','addAnnounceBody');
		$input.attr('cols','50%');
		$input.attr('placeholder','Message');

		$input.css('height','100px')

		if (text){
			$input.val(text);
		}

		return $row.append($col.append($input));
	}

	getNewButton = function(val1,val2){
		var $row = $('<div>'),
			$col = $('<div>'),
			$input = $('<input>'),
			$input2 = $('<input>');	
			
		$row.addClass('row');
		$row.css('margin-top','5px');
		$col.addClass('col-md-12');
		
		$input.attr('type','submit');
		$input.attr('value','Add');
		$input.attr('id','addAnnouncement');
		$input.addClass("btn btn-default");

		if(val1){
			$input.val(val1);
		}
		$col.append($input)
		if(val2){
			$input2.attr('type','submit');
			$input2.attr('id','addAnnouncement2');
			$input2.addClass("btn btn-default");
			$input2.val(val2);
			$col.append($input2);
		}

		return $row.append($col);
	}

	getCheckbox = function(val){
		var $row = $('<div>').addClass('row'),
			$col = $('<div>').addClass('col-md-12'),
			$checkbox = $('<input>'),
			$label = $('<label>').addClass('checkbox-inline'),
			$p = $('<p>').text('Pin');

		$checkbox.attr('type','checkbox')
		$checkbox.attr('id','pinCheckbox');
		$checkbox.html('Pinned')
		$checkbox.attr('value','Pin')

		if (val){
			$checkbox.attr('checked','checked')
		}

		$label.append($checkbox).append($p);


		return $row.append($col.append($label));
	}


	getError = function(err){
		var $row = $('<div>').addClass('row'),
			$col = $('<div>').addClass('col-md-12'),
			subject = err.subject,
			body = err.body,
			$error = $('<p>');

		if (!subject && !body){
			$error.text("Please enter a Subject and Message")
		}
		else if(!subject){
			$error.text('Please enter a Subject')
		}
		else if (!body){
			$error.text('Please enter a Message')
		}


		$error.css('color','red')
		return $row.append($col.append($error));
	}

	displayAnnouncement = function(item){
		var $area = $('#announceArea'),
			subject = item.subject,
			body = item.body,
			time = item.time,
			$wrapper = $('<div>').addClass('panel panel-default'),
			$wrapperHeading = $('<div>').addClass('panel-heading'),
			$row1 = $('<div>').addClass(""),
			$row2 = $('<div>').addClass("panel-body"),
			$subject = $('<h4>'),
			$time = $('<div>').addClass("pull-right"),
			$body = $('<div>'),
			lines,
			lin,
			$btns,
			$editButton,
			$deleteButton;

		

		$subject.html(subject);
		$time.html("<h4>"+time+"</h4>");

		$wrapperHeading.append($time).append($subject);

		lines = body.split("\n");

		for (var i=0; i<lines.length; i++){
			var par = $('<p>');

			lin = lines[i];
			if (lin){
				par.text(lin);
				$body.append(par);	
			}
		}

		//$row1.append($subject).append($time);
		$row2.append($body);

		$area.empty();
		$area.append($wrapper.append($wrapperHeading).append($row2));

		$btns = getNewButton("Edit","Delete");
		$editButton = $btns.find('#addAnnouncement');
		$deleteButton = $btns.find('#addAnnouncement2')
		$area.append($btns)

		$editButton.click(function(){
			makeEditDisplay();
		});

		$deleteButton.click(function(){
			deleteAnnouncement(viewingAnnouncementIndex);
			makeAddNewAnnouncement();

		})

	}

	makeEditDisplay = function(){
		var $area = $('#announceArea'),
			announcement,
			subject,
			time,
			bodyList ,
			body,
			$subject,
			$body,
			$updateBtn,
			$btns,
			$cancelBtn,
			$checkbox;

		if (viewingAnnouncementIndex >= pinnedAnnouncements.length){
			announcement = announcements[viewingAnnouncementIndex-pinnedAnnouncements.length]
		}
		else{
			announcement = pinnedAnnouncements[viewingAnnouncementIndex];
		}

		subject = announcement.subject;
		time = announcement.time;
		body = announcement.body;

		$subject = getNewSubject(subject);
		$body = getNewBody(body);
		$btns = getNewButton("Update","Cancel");
		$updateBtn = $btns.find('#addAnnouncement');
		$cancelBtn = $btns.find('#addAnnouncement2');

		if (viewingAnnouncementIndex < pinnedAnnouncements.length){
			$checkbox = getCheckbox(true)
		}
		else{
			$checkbox = getCheckbox()
		}

		$updateBtn.click(function(){
			var $area = $('#announceArea'),
				$pinned = $('#pinCheckbox'),
				subject = $('#addAnnounceSub').val(),
				body = $('#addAnnounceBody').val();
				d = new Date(),
				month = d.getMonth()+1,
				day = d.getDate(),
				year = ""+d.getFullYear(),
				time = ""+month+"/"+day+"/"+year.slice(2,4),
				announcement,
				announce = "";

				
			deleteAnnouncement(viewingAnnouncementIndex);

			if ($pinned.is(':checked')){
				announcement = makeAnnouncement(subject,body,time,true);
				pinnedAnnouncements.unshift(announcement)
			}
			else{
				announcement = makeAnnouncement(subject,body,time,false);
				announcements.unshift(announcement)
			}

			getAnnouncements();
			makeAddNewAnnouncement();
		})

		$cancelBtn.click(function(){
			var announcement;
			if (viewingAnnouncementIndex < pinnedAnnouncements.length){
				announcement = pinnedANnouncements[viewingAnnouncementIndex];
			}
			else{
				announcement = announcements[viewingAnnouncementIndex-pinnedAnnouncements.length];
			}
			displayAnnouncement(announcement);
		})

		$area.empty();
		$area.append($subject).append($body).append($checkbox).append($btns);

	}

	$('#newAnnouncement').click(function(){
		makeAddNewAnnouncement();
	});

	deleteAnnouncement = function(index){
		if (index >= pinnedAnnouncements.length){
			index = index-pinnedAnnouncements.length;
			_deleteAnnouncement(announcements[index])
			if (announcements.length === 1){
				announcements = []
			}
			else{
				announcements.splice(index,1)
			}
		}
		else{
			_deleteAnnouncement(announcements[index])
			if (pinnedAnnouncements.length === 1){
				pinnedAnnouncements = []
			}
			else{
				pinnedAnnouncements.splice(index,1)
			}	
		}

		getAnnouncements();		
	}


	var announcements = [] ,
		pinnedAnnouncements = [],
		viewingAnnouncementIndex = 0;

	sortAnnouncements(allAnnouncements);
	getAnnouncements();
	makeAddNewAnnouncement();
	

</script>

{% endblock %}