{% extends "layout.html" %}

{% block content %}

{% include "menu.html" %}

{{ menu('announcements') }}

<div style="">
	<div class="row">
		<div class="col-md-4"><h1>Announcements</h1></div>
		<div class="col-md-3 col-md-offset-1">
			<input class="btn btn-default" id="newAnnouncement" type="submit" value="New" style="margin-top:19px" >
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<span id="noAnnouce"></span>
			<div id="annouceContainer"></div>
		</div>
		<div class="col-md-7 col-md-offset-1" id="announceArea">
		</div>
	</div>
</div>

<script>
	var an1 = makeAnnouncement("Testing this Page", "Hello everyone,\n this is a test\n I need to know", "4/10/15"),
		an2 = makeAnnouncement("Moving Space", "Hello,\n We will be moving to a new space", "4/12/15");
	var announcements = [an2,an1]
	var viewingAnnouncementIndex;
	var getAnnouncements = function(){
		console.log("first")
		if (announcements.length === 0){
			$('#noAnnouce').html("<p>You have no announcements</p>")
		}
		else{
			$('#annouceContainer').empty();
			for (var i=0; i<announcements.length; i++){
				var a = announcements[i],
					$div = $('#annouceContainer'),
					$container = $('<div>'),
					$out_t = $('<div>'),
					$out_body = $('<div>'),
					$inside1 = $('<div>'),
					$inside2 = $('<div>'),
					$body = $('<div>'),
					body = $('<p>'),
					lines,
					lin,
					counter = 0;

				$container.attr('id',"message "+i)
				$out_t.addClass('row');
				$inside1.addClass('col-md-9');
				$inside2.addClass('col-md-3');

				$inside1.html("<h4><strong>"+a.subject+"</strong></h4>");
				$inside2.html("<h4>"+a.time+"</h4>");

				$out_body.addClass('row');
				$body.addClass('col-md-12');

				lines = a.body.split("\n");
				for (var j=0; j<lines.length; j++){
					var par = $('<p>');
					lin = lines[j]
					if (lin && counter < 2){
						counter++;
						$body.append(par.text(lin))
					}					
				}
				//body.text(a.body);
				$body.append(body);
				$out_body.append($body);
				$container.css("cursor","default");
				$container.css("height","90px")
				$container.css("overflow","hidden")

				$out_t.append($inside1).append($inside2);
				$div.append($container.append($out_t).append($out_body)); 
				$container[0].addEventListener("click",function(e){
					var x = e.pageX,
						y = e.pageY,
						index = getIndexFromPx(x,y);

					viewingAnnouncementIndex = index
					displayAnnouncement(announcements[index]);
				},false);
			}
		}
	}


	function makeAnnouncement(subject, body, time){
		return {"subject":subject, "body":body, "time":time}
	}

	makeAddNewAnnouncement = function(){
		var $area = $('#announceArea'),
			$subject = getNewSubject(),
			$body = getNewBody(),
			$button = getNewButton();

		$area.empty();
		$area.append($subject).append($body).append($button);
		$('#addAnnouncement').click(function(){
			console.log("the");
			var $area = $('#announceArea'),
				subject = $('#addAnnounceSub').val(),
				body = $('#addAnnounceBody').val();
				d = new Date(),
				month = d.getMonth()+1,
				day = d.getDate(),
				year = ""+d.getFullYear(),
				time = ""+month+"/"+day+"/"+year.slice(2,4)
				announcement = makeAnnouncement(subject,body,time);

			announcements.unshift(announcement);
			console.log(announcement)
			getAnnouncements();
			makeAddNewAnnouncement();
		});

	}

	getNewSubject = function(text){
		var $row = $('<div>'),
			$col = $('<div>'),
			$input = $('<input>');

		$row.addClass('row');
		$col.addClass('col-md-12');
		$input.attr('id', 'addAnnounceSub');
		$input.attr('type','text');
		$input.attr('size','22%');
		$input.attr('placeholder','Subject');

		if(text){
			$input.val(text);
		}

		return $row.append($col.append($input));
	}

	getNewBody = function(text){
		var $row = $('<div>'),
			$col = $('<div>'),
			$input = $('<textarea>');	
			
		$row.addClass('row');
		$row.css('margin-top','5px');
		$col.addClass('col-md-12');

		$input.attr('id','addAnnounceBody');
		$input.attr('cols','29%');
		$input.attr('placeholder','Message');

		if (text){
			$input.val(text);
		}

		return $row.append($col.append($input));
	}

	getNewButton = function(val1,val2){
		var $row = $('<div>'),
			$col = $('<div>'),
			$input = $('<input>'),
			$input2 = $('<input>');	
			
		$row.addClass('row');
		$row.css('margin-top','5px');
		$col.addClass('col-md-12');
		
		$input.attr('type','submit');
		$input.attr('value','Add');
		$input.attr('id','addAnnouncement');
		$input.addClass("btn btn-default");

		if(val1){
			$input.val(val1);
		}
		$col.append($input)
		if(val2){
			$input2.attr('type','submit');
			$input2.attr('id','addAnnouncement2');
			$input2.addClass("btn btn-default");
			$input2.val(val2);
			$col.append($input2);
		}

		return $row.append($col);
	}

	getIndexFromPx = function(x,y){
		var xOffset = 15,
			yOffset = 163,
			newX = x-xOffset,
			newY = y-yOffset,
			space = 90,
			index;

			index = Math.floor(newY/space);
			return index;
	}

	displayAnnouncement = function(item){
		var $area = $('#announceArea'),
			subject = item.subject,
			body = item.body,
			time = item.time,
			$row1 = $('<div>').addClass("row"),
			$row2 = $('<div>').addClass("row"),
			$subject = $('<div>').addClass("col-md-4"),
			$time = $('<div>').addClass("col-md-3 col-md-offset-1"),
			$body = $('<div>').addClass("col-md-8"),
			lines,
			lin,
			$btns,
			$editButton,
			$deleteButton;

		$subject.html("<h4><strong>"+subject+"</strong></h4>");
		$time.html("<h4>"+time+"</h4>");

		lines = body.split("\n");

		for (var i=0; i<lines.length; i++){
			var par = $('<p>');

			lin = lines[i];
			if (lin){
				par.text(lin);
				$body.append(par);	
			}
		}

		$row1.append($subject).append($time);
		$row2.append($body);

		$area.empty();
		$area.append($row1).append($row2);

		$btns = getNewButton("Edit","Delete");
		$editButton = $btns.find('#addAnnouncement');
		$deleteButton = $btns.find('#addAnnouncement2')
		$area.append($btns)

		/*
		$editButton.attr('type','submit');
		$editButton.attr('value','Edit')
		$editButton.attr("id","announceEditBttn");
		$area.append($editButton)
		*/

		$editButton.click(function(){
			makeEditDisplay();
		});

		$deleteButton.click(function(){
			announcements.splice(viewingAnnouncementIndex,1)
			getAnnouncements();
			$area.empty();
		})

	}

	makeEditDisplay = function(){
		var $area = $('#announceArea'),
			announcement = announcements[viewingAnnouncementIndex],
			subject = $area.find("strong").html(),
			time = $area.find("h4")[1].innerHTML,
			bodyList = $area.find("p"),
			body = "",
			$subject,
			$body,
			$editBtn,
			$btns,
			$cancelBtn;

		for (var i=0; i < bodyList.length; i++){
			if (i != bodyList.length-1){
				body += bodyList[i].innerHTML + "\n";	
			}
			else{
				body += bodyList[i].innerHTML
			}
		}
		
		$subject = getNewSubject(subject);
		$body = getNewBody(body);
		$btns = getNewButton("Update","Cancel");
		$editBtn = $btns.find('#addAnnouncement');
		$cancelBtn = $btns.find('#addAnnouncement2');

		$editBtn.click(function(){
			var $area = $('#announceArea'),
				subject = $('#addAnnounceSub').val(),
				body = $('#addAnnounceBody').val();
				d = new Date(),
				month = d.getMonth()+1,
				day = d.getDate(),
				year = ""+d.getFullYear(),
				time = ""+month+"/"+day+"/"+year.slice(2,4)
				announcement = makeAnnouncement(subject,body,time),
				announce = "";

			console.log(announcements)

			announcements.splice(viewingAnnouncementIndex,1)
			announcements.unshift(announcement);
			//console.log(announcement)
			getAnnouncements();
			makeAddNewAnnouncement();
		})

		$cancelBtn.click(function(){
			displayAnnouncement(announcements[viewingAnnouncementIndex]);
		})

		$area.empty();
		$area.append($subject).append($body).append($btns);

	}

	$('#newAnnouncement').click(function(){
		makeAddNewAnnouncement();
	});


	getAnnouncements();
	makeAddNewAnnouncement();
</script>

{% endblock %}