{% extends "layout.html" %}


{% block content %}

{% include "menu.html" %}

{{ menu('home') }}

<script>
    nunjucks.configure('templates');

    

    $("#submitButton").click(function(){
        var subject = document.getElementById("toDoText").value;
        /*var subject = document.getElementById("subject").value;*/
        var details = "";
        var date = "";
        createTodo(subject, details, date);
        loadHome();
    });

    for (var i in todos){
        var table = document.getElementById("toDoTable");
        var currentTodo = todos[i];

        var row = table.insertRow(-1);

        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);

        cell1.innerHTML = "          " + currentTodo["deadline"];
        cell2.innerHTML = "          " + currentTodo["title"];
    }


    for (var i in questions){

        var table = document.getElementById("questionsTable");
        var currentQuestions = questions[i];

        var row = table.insertRow(-1);

        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);

        cell1.innerHTML = currentQuestions["date"];
        cell2.innerHTML = currentQuestions["subject"];
        cell3.innerHTML = currentQuestions["asker"];
        cell4.innerHTML = "STAR";
    }

    $("table td:first-child").each(function() {
        $(this).prepend('<input type="checkbox" class="basic-kpi-row"/>');
    });

    $('#questionsTable tr').click(function() {
        loadQuestions();
    });


    $('#toDoTable tr').click(function() {
        loadTodos();
    });

    $('#createToDoButton').click(function(){
        document.getElementById("toDoForm").style.display = "initial";
    });

</script>

<div class="row">
    <div class="col-md-12 page-header">
        <h1>
            Dashboard <small>See your logistics at a glance.</small></h1>
    </div>
</div>
<div class="contents row">
    <!-- background-color:#B7CEEC;  -->

    <div class="col-md-4 to-do" style="">
        <div class="panel panel-default" style="min-height: 200px; max-height: 200px">

            <!-- Default panel contents -->
            <div class="panel-heading home-heading todoHeading"><div class="btn-group pull-right" role="group">
                <div id = "createToDoButton" class="btn btn-primary btn-sm">Quick To-Do</div>
            </div><h5>To-Do</h5></div>

            <!-- Table -->
            <form id="toDoForm" style="display:none;"><br>
                <center><textarea id="toDoText" type="text" name="firstname" rows="2" cols="40"placeholder="Enter to-do here..."></textarea></center>
                <center><button type="submitButton">Submit</button></center>
            </form>
            <table id="toDoTable" class="table table-hover" style="">
            </table>

        </div>
    </div>

    <div class="col-md-8 questions"  style="">
        <div class="panel panel-default" style="min-height: 200px; max-height: 200px">
            <!-- Default panel contents -->
            <div class="panel-heading home-heading questionHeading"><h5>Questions</h5></div>

            <!-- Table -->
            <table id= "questionsTable" class="table table-hover" style="width:100%">
            </table>
        </div>
    </div>

    

    
</div>
<div class="row">

    <div class="col-md-4 notes" style="">
        <div class="panel panel-default" style="min-height: 200px; max-height: 200px">
            <!-- Default panel contents -->
            <div class="panel-heading home-heading noteHeading">
                <h5>Notes</h5>
            </div>

            <!-- Table -->
            <table id="notesTable" class="table table-hover" style="width:100%">
                {% for note in notes %}
                <tr>
                    <td onclick="selectNote({{note.id}})">{{ note.title }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="col-md-8 announcements" style="">
        <div class="panel panel-default" style="min-height: 200px; max-height: 200px">
            <!-- Default panel contents -->
            <div class="panel-heading home-heading announceHeading">
                <h5>Announcements</h5>
            </div>

            <!-- Table -->
            <table id="announcementsTable" class="table table-hover" style="width:100%">
                {% for announcement in announcements %}
                <tr onclick="selectAnnouncement({{announcement.id}})">
                    <td>
                        {{ announcement.time }}
                    </td>
                    <td>
                        {{ announcement.subject }}
                    </td>
                    <td>
                        {% if announcement.pinned %}
                        <span class="glyphicon glyphicon-pushpin"></span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    
    

</div>
</div>
</div>

{% endblock %}