{% extends "layout.html" %}


{% block content %}

{% include "menu.html" %}

{{ menu('home') }}

<script>
    nunjucks.configure('templates');

    $('#announcementsTable tr').click(function() {
        loadAnnouncements();
    });

    $('#questionsTable tr').click(function() {
        loadQuestions();
    });

    $('#notesTable tr').click(function() {
        loadNotes();
    });

    $('#toDoTable tr').click(function() {
        loadTodos();
    });

    $('#createToDoButton').click(function(){
        document.getElementById("toDoForm").style.display = "initial";
    });

    $("#submitButton").click(function(){
        var text = document.getElementById("toDoText").value;
        var table = document.getElementById("toDoTable");
        var row = table.insertRow(0);

        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);

        cell1.innerHTML = text;
        cell2.innerHTML = "";
        cell3.innerHTML = "";
        cell4.innerHTML = "";
        document.getElementById("toDoForm").style.display = "none";
        return false;
    });

    for (var i in todos){
        var table = document.getElementById("toDoTable");
        var currentTodo = todos[i];

        var row = table.insertRow(-1);

        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);

        cell1.innerHTML = currentTodo["deadline"];
        cell2.innerHTML = currentTodo["title"];
        cell3.innerHTML = "";
    }

    for (var i in allAnnouncements){
        var table = document.getElementById("announcementsTable");
        var currentAnnouncement = allAnnouncements[i];

        var row = table.insertRow(-1);

        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);

        cell1.innerHTML = currentAnnouncement["time"];
        cell2.innerHTML = currentAnnouncement["subject"];
        cell3.innerHTML = "PIN";
    }

    for (var i in questions){
        console.log("Christian3");
        console.log(allAnnouncements[i]);

        var table = document.getElementById("questionsTable");
        var currentQuestions = questions[i];

        var row = table.insertRow(-1);

        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);

        cell1.innerHTML = currentQuestions["date"];
        cell2.innerHTML = currentQuestions["subject"];
        cell3.innerHTML = currentQuestions["asker"];
    }

    for (var i in notes){
        var table = document.getElementById("notesTable");
        var currentNote = notes[i];

        var row = table.insertRow(-1);

        var cell1 = row.insertCell(0);

        cell1.innerHTML = currentNote["title"];
    }

</script>
<div class="row">
    <div class="col-md-12 page-header">
        <h1>
            Dashboard <small>See your logistics at a glance.</small></h1>
    </div>
</div>
<div class="contents row">
    <!-- background-color:#B7CEEC;  -->
    <div class="col-md-8 announcements" style="">
        <div class="panel panel-default" style="min-height: 200px; max-height: 200px">
            <!-- Default panel contents -->
            <div class="panel-heading home-heading announceHeading">
                <h5>Announcements</h5>
            </div>

            <!-- Table -->
            <table id="announcementsTable" class="table table-hover" style="width:100%">
            </table>
        </div>
    </div>

    <div class="col-md-4 to-do" style="">
        <div class="panel panel-default" style="min-height: 200px; max-height: 200px">

            <!-- Default panel contents -->
            <div class="panel-heading home-heading todoHeading"><div class="btn-group pull-right" role="group">
                <div id = "createToDoButton" class="btn btn-primary btn-sm">Quick To-Do</div>
            </div><h5>To-Do</53></div>

            <!-- Table -->
            <form id="toDoForm" style="display:none;"><br>
                <center><textarea id="toDoText" type="text" name="firstname" rows="2" cols="40"placeholder="Enter to-do here..."></textarea></center>
                <center><button type="submitButton">Submit</button></center>
            </form>
            <table id="toDoTable" class="table table-hover" style="">
            </table>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 questions"  style="">
        <div class="panel panel-default" style="min-height: 200px; max-height: 200px">
            <!-- Default panel contents -->
            <div class="panel-heading home-heading questionHeading"><h5>Questions</h5></div>

            <!-- Table -->
            <table id= "questionsTable" class="table table-hover" style="width:100%">
            </table>
        </div>
    </div>
    <div class="col-md-4 notes" style="">
        <div class="panel panel-default" style="min-height: 200px; max-height: 200px">
            <!-- Default panel contents -->
            <div class="panel-heading home-heading noteHeading">
                <h5>Notes</h5>
            </div>

            <!-- Table -->
            <table id="notesTable" class="table table-hover" style="width:100%">
                <!-- <tr>
                    <td>Food</td>
                </tr>
                <tr>
                    <td>Attendees</td>
                </tr>
                <tr>
                    <td>Organizers</td>
                </tr> -->
            </table>
        </div>
    </div>

</div>
</div>
</div>

{% endblock %}