<ul class="nav nav-tabs nav-justified">

    <!-- This logic sets the home button active. -->
    {% if isActive['home'] %}
        <li role="presentation" class="active"><a href="#">Home</a></li>
    {% else %}
        <li role="presentation"><a href="#">Home</a></li>
    {% endif %}

    <!-- This logic sets the announcements button active. -->
    {% if isActive['announcements'] %}
        <li role="presentation" class="active"><a href="#">Announcements</a></li>
    {% else %}
        <li role="presentation"><a href="#">Announcements</a></li>
    {% endif %}

    <!-- This logic sets the questions button active. -->
    {% if isActive['questions'] %}
        <li role="presentation" class="active"><a href="#">Questions</a></li>
    {% else %}
        <li role="presentation"><a href="#">Questions</a></li>
    {% endif %}

    <!-- This logic sets the to-do button active. -->
    {% if isActive['todo'] %}
        <li role="presentation" class="active"><a href="#">To-Do</a></li>
    {% else %}
        <li role="presentation"><a href="#">To-Do</a></li>
    {% endif %}

    <!-- This logic sets the notes button active. -->
    {% if isActive['notes'] %}
        <li role="presentation" class="active"><a href="#">Notes</a></li>
    {% else %}
        <li role="presentation"><a href="#">Notes</a></li>
    {% endif %}

</ul>