{% extends "layout.html" %}

{% block content %}

{% include "menu.html" %}

{{ menu('notes') }}

<!-- This part makes the title row and explains how the editor works. -->
<div class="row">
    <h1>Notes</h1>
</div>

<!-- This part makes all the page content. -->
<div class="row">

    <!-- This column is for the list view of all notes. -->
    <div class="col-md-3">
        <div class="list-group noteList">
            {% for note in notes %}

            {% if isActiveNote(note.id) %}
                <a href="#" class="list-group-item active">
                    <h3 class="list-group-item-heading">{{ note.title }}</h3>
                    <p class="list-group-item-text">{{ note.text | truncate(42) }}</p>
                </a>
            {% else %}
                <a href="#" class="list-group-item">
                    <h3 class="list-group-item-heading">{{ note.title }}</h3>
                    <p class="list-group-item-text">{{ note.text | truncate(42) }}</p>
                </a>
            {% endif %}

            {% endfor %}
        </div>
    </div>

    <!-- This column is for the detail view of one note. -->
    <div class="col-md-9 noteDetail panel-default">
        <div class="panel-heading">
            <div class="bnt-group pull-right">
                <a href="#" class="btn btn-default btn-sm">Edit</a>
                <a href="#" class="btn btn-default btn-sm">Delete</a>
            </div>
            <h2>{{ note.title | title}}</h2>
        </div>
        <div class="panel-body">
            {{ note.text }}
        </div>

    </div>

</div>

{% endblock %}