{% extends "layout.html" %}

{% block content %}

{% include "menu.html" %}

{{ menu('notes') }}

<!-- This part makes the title row and explains how the editor works. -->
<div class="row">
    <div class="col-md-12 page-header">
        <h1>
            <div class="btn-group pull-right" role="group">
                <a href="#" class="btn btn-primary">Create New Note</a>
            </div>
            Notes <small>Easily keep track of all your event logistics in one place.</small></h1>
    </div>
</div>

<!-- This part makes all the page content. -->
<div class="row">

    <!-- This column is for the list view of all notes. -->
    <div class="col-md-3">
        <div class="list-group noteList">

            {% for note in notes %}

            {% if isActiveNote(note.id) %}
            <a href="#" class="list-group-item active" onclick="selectNote({{ note.id }})">
                <h3 class="list-group-item-heading">{{ note.title }}</h3>
                <h5 class="list-group-item-text">{{ note.text | truncate(42) }}</h5>
            </a>
            {% else %}
            <a href="#" class="list-group-item" onclick="selectNote({{ note.id }})">
                <h3 class="list-group-item-heading">{{ note.title }}</h3>
                <h5 class="list-group-item-text">{{ note.text | truncate(42) }}</h5>
            </a>
            {% endif %}

            {% endfor %}
        </div>
    </div>

    <!-- This column is for the detail view of one note. -->
    <div class="col-md-9">
        <div class="panel panel-default noteDetail">
            <div class="panel-heading">
                <div class="btn-group pull-right">
                    <a href="#" class="btn btn-default">Edit</a>
                    <a href="#" class="btn btn-default">Delete</a>
                </div>
                <h2 id="note-detail-heading">{{ activeNote.title}}</h2>
            </div>
            <div class="panel-body" id="note-detail-text">
                {{ activeNote.text }}
            </div>
        </div>
    </div>

</div>

{% endblock %}