<script type="text/javascript" src="/js/nunjucks.js"></script>

{% extends "layout.html" %}

{% block content %}

{% include "menu.html" %}

{{ menu('todos') }}
<div class="row">
    <div class="col-md-12 page-header">
        <h1><div class="btn-group pull-right" role="group">
                <a href="#" class="btn btn-primary">Create New To-Do</a>
            </div>
            To-Do <small>View and manage your tasks.</small></h1>
    </div>
</div>

<div class="col-md-6 todos" style="">
	Include to-do and to-done here

</div>


<div class="col-md-5 col-md-offset-1 todones" style="">
	<form id="toDoForms"><br>
		            <input type="text" class="form-control" placeholder="Subject"><br>
                    <textarea type="text" class="form-control" rows="3" placeholder="Details"></textarea><br>
                    
                    <div class="btn-group"><div class="btn btn-primary">Submit</div></div>
                    <div class="btn-group"><div class="btn btn-primary">Edit</div></div>
                </form>
</div>

{% endblock %}