<script type="text/javascript" src="/js/nunjucks.js"></script>

{% extends "layout.html" %}

{% block content %}

{% include "menu.html" %}

{{ menu('todos') }}
<div class="row">
    <div class="col-md-12 page-header">
        <h1><div class="btn-group pull-right" role="group">
                <a href="#" class="btn btn-primary">Create New To-Do</a>
            </div>
            To-Do <small>View and manage your tasks.</small></h1>
    </div>
</div>

<div class="col-md-4 todos" style="">
	<h3>To-Do</h3>


</div>


<div class="col-md-7 col-md-offset-1 todones" style="">
	<h3>To-Done</h3>

</div>

{% endblock %}