<script type="text/javascript" src="/js/nunjucks.js"></script>



{% extends "layout.html" %}

{% block content %}

{% include "menu.html" %}

{{ menu('todos') }}

<script>

document.getElementById("subject").value = activeTodo.title;
document.getElementById("details").value = activeTodo.description;
document.getElementById("deadline").value = activeTodo.deadline;

$("#submitButton").click(function(){
	var subject = document.getElementById("subject").value;
	var details = document.getElementById("details").value;
	var date = document.getElementById("deadline").value;
	console.log(details);
	createTodo(subject, details, date);
});

$("#createToDo").click(function(){
    document.getElementById("todo-detail-heading").innerHTML = "New To-Do";
    document.getElementById("subject").value = "";
    document.getElementById("details").value = "";
    document.getElementById("deadline").value = "";
});

/*$(document).ready(function() {
	$("#date").datepicker({minDate:(new Date(2013, 0, 18)), maxDate:(new Date(2013, 1, 15)) });
});*/
</script>

<div class="row">
    <div class="col-md-12 page-header">
        <h1><div id="createToDo" class="btn-group pull-right" role="group">
            <a href="#" class="btn btn-primary">Create New To-Do</a>
        </div>
            To-Do <small>View and manage your tasks.</small></h1>
    </div>
</div>


<div class="col-md-4">
    <div class="panel-group" id="todos-accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="todoHeading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#todos-accordion" href="#todosCollapsed"
                       aria-expanded="true" aria-controls="todosCollapsed">
                        To-Dos
                    </a>
                </h4>
            </div>
            <div id="todosCollapsed" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="todoHeading">
                <div class="list-group">
                    {% for todo in todos %}

                    {% if isActiveTodo(todo) %}
                    <a class="list-group-item active clearfix" onclick="selectTodo({{ todo.id }})">
                        <span class="pull-right">
                            <input type="checkbox" name="todo-{{ todo.id }}" class="form-control" onclick="toggleTodoDone({{ todo.id }})">
                            <button onclick="deleteTodo({{ todo.id }})" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-remove"></span></button>
                        </span>

                        <h4 class="list-group-item-heading">{{ todo.title }}</h4>
                        <p class="list-group-item-text">{{ todo.deadline }}</p>

                    </a>
                    {% else %}
                    <a class="list-group-item clearfix" onclick="selectTodo({{ todo.id }})">
                        <span class="pull-right">
                            <input type="checkbox" name="todo-{{ todo.id }}" class="form-control" onclick="toggleTodoDone({{ todo.id }})">
                            <button onclick="deleteTodo({{ todo.id }})" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-remove"></span></button>
                        </span>

                        <h4 class="list-group-item-heading">{{ todo.title }}</h4>
                        <p class="list-group-item-text">{{ todo.deadline }}</p>

                    </a>
                    {% endif %}

                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="todonesHeading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#todos-accordion" href="#todonesCollapsed" class="collapsed"
                       aria-expanded="false" aria-controls="todonesCollapsed">
                        To-Dones
                    </a>
                </h4>
            </div>

            <div id="todonesCollapsed" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="todonesHeading">
                <div class="list-group">

                    {% for todone in todones %}

                    {% if isActiveTodo(todone) %}
                    console.log(activeTodo);
                    <a class="list-group-item active clearfix" onclick="selectTodo({{ todone.id }})">
                        <span class="pull-right">
                            <input type="checkbox" name="todo-{{ todo.id }}" class="form-control" onclick="toggleTodoDone({{ todone.id }})" checked>
                            <button onclick="deleteTodo({{ todone.id }})" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-remove"></span></button>
                        </span>

                        <h4 class="list-group-item-heading">{{ todone.title }}</h4>
                        <p class="list-group-item-text">{{ todone.deadline }}</p>
                    </a>
                    {% else %}
                    <a class="list-group-item clearfix" onclick="selectTodo({{ todone.id }})">
                        <span class="pull-right">
                        <input type="checkbox" name="todo-{{ todo.id }}" class="form-control" onclick="toggleTodoDone({{ todone.id }})" checked>
                        <button onclick="deleteTodo({{ todone.id }})" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-remove"></span></button>
                        </span>
                        <h4 class="list-group-item-heading">{{ todone.title }}</h4>
                        <p class="list-group-item-text">{{ todone.deadline }}</p>
                    </a>
                    {% endif %}

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-8">
        <div class="panel panel-default noteDetail">
            <div class="panel-heading">
                <!-- <div class="btn-group pull-right">
                    <a href="#" class="btn btn-default">Edit</a>
                    <a href="#" class="btn btn-default">Delete</a>
                </div> -->
                <h2 id="todo-detail-heading">{{ activeTodo.title}}</h2>
            </div>
            <div class="panel-body" id="note-detail-text">
                <form id="toDoForms"><br>
        <input id = "subject" type="text" class="form-control" placeholder="Subject">
        <br>
        <textarea id="details" type="text" class="form-control" rows="3" placeholder="Details"></textarea><br>
        <input id="deadline" type="text" class="form-control" placeholder="Deadline (YYYY-MM-DD)"><br>
        <div id ="submitButton" class="btn-group"><div id ="submitButton" class="btn btn-primary">Submit</div></div>
        <!-- <div class="btn-group"><div class="btn btn-primary">Edit</div></div> -->
    </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}